{% extends 'base.html.twig' %}

{% block body  %}
<h1></h1>
<p>
   


</<p> 



<div class="jumbotron">
  <h1 class="display-3"> Bienvenu ! </h1>
  <p class="lead"> Je voudrais particulièrement exprimer mes chaleureux mots de bienvenue à nos honorables Employés,</p>
  <hr class="my-4">
  <p> Merci d’avoir sacrifié de votre précieux temps pour être ici et de se déplacer pour être au rendez-vous, Par la même occasion ; je vous souhaite un très bon séjour au sein de notre ville.
En effet, cette rencontre s’est inscrite dans un processus visant à engager nos deux communes dans la mise en œuvre effective du développement social.
Les profondes relations qui s’opèrent aujourd’hui, nous interpellent au plus haut niveau et nous projettent dans des défis majeurs auxquels nous devons faire face.
Pour y arriver, nous comptons sur votre collaboration, C’est pourquoi, il est nécessaire de faire face et de retrousser les manches pour arriver à nos objectifs, aplanir les obstacles entravant le développement et contribuer à l’essor de notre société.
Mesdames et Messieurs ;</p>
  <p class="lead">
  Nous voudrions assurer notre disponibilité et notre collaboration en tant que président dans le domaine de la protection et de la sauvegarde de l’environnement.
C’est sur ces mots d’engagement que je voudrais souhaiter pleins succès à nos travaux.
  </p>
</div>



{% endblock %}
        